/* Starting Mobile First, the absensce of a media query is the first media query. */
h1:after {
  content: " Mobile"; }

/* FOR GOOD BROWSERS & IE9+ IMPORT THE MEDIA QUERIES
@import "_mediaqueries.scss";
*/
/* NON-REPONSIVE STYLESHEETS JUST IMPORT DIRECTLY*/
body {
  background: yellow; }

h1:after {
  content: " Tablet"; }

body {
  background: pink; }

h1:after {
  content: " Desktop"; }
