/* Starting Mobile First, the absensce of a media query is the first media query. */
h1:after {
  content: " Mobile"; }

/* FOR GOOD BROWSERS & IE9+ IMPORT THE MEDIA QUERIES*/
@media (min-width: 640px) {
  body {
    background: yellow; }

  h1:after {
    content: " Tablet"; } }
@media (min-width: 960px) {
  body {
    background: pink; }

  h1:after {
    content: " Desktop"; } }
/* NON-REPONSIVE STYLESHEETS JUST IMPORT DIRECTLY
@import "tablet.scss";
@import "desktop.scss";
*/
